* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    IMPORTANT!!
*/
html {
    font-size: 62.5%;
}

body {
    --text-color: hsl(0, 0%, 100%);
    --text-color-translucent: rgba(255, 255, 255, 0.75);
    --very-light-red: hsl(13, 100%, 72%);
    --light-red: hsl(353, 100%, 62%);
}

.hero {
    width: 100%;
    height: 600px;
    border: 1px solid black;

    /*background-image: linear-gradient(135deg, var(--very-light-red), var(--light-red));*/
    background-image: url(./assets/images/bg-pattern-intro-mobile.svg);
}